<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IRegistration">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILoginSession">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IGameSessions" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8001/GameServerServices.SessionsServices.LoginSessionService.LoginSession"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILoginSession"
                contract="LoginSessionService.ILoginSession" name="NetTcpBinding_ILoginSession" />
            <endpoint address="net.tcp://localhost:8000/GameServerServices.RegistrationService.Registration"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRegistration"
                contract="RegistrationService.IRegistration" name="NetTcpBinding_IRegistration" />
            <endpoint address="net.tcp://localhost:8002/GameServerServices.SessionsServices.GameSessionsService.GameSessions"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameSessions"
                contract="GameSessionsService.IGameSessions" name="NetTcpBinding_IGameSessions" />
        </client>
    </system.serviceModel>
</configuration>